<footer class="flex flex-col items-center justify-center w-full">
  <div class="w-[90%] h-[1px] bg-black mt-6" />
  <p class="text-center mt-2 pb-2 font-thin">E-commerce page with nodejs, express, mongodb - Wojciech Woźniak, XII 2023</p>
</footer>