<nav class="bg-white shadow-lg fixed top-0 left-0 w-full">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <span class="font-semibold text-gray-500 py-4 text-lg">Nodeshop.io</span>
                <div class="hidden md:flex items-center space-x-1">
                    <a href="#" class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold">Products</a>
                    <a href="#"
                        class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Basket</a>
                    <a href="auth"
                        class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Account</a>
                </div>
            </div>
        </div>
    </div>
</nav>