<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodeshop.io</title>
    <link href="/styles.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <% include partials/navbar %>

        <div class="container mx-auto mt-[70px]">
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <% products.forEach(product=> { %>
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img class="w-full" src="<%= product.image %>" alt="Product Image">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">
                                <%= product.name %>
                            </div>
                            <p class="text-gray-700 text-base">
                                <%= product.description %>
                            </p>
                        </div>
                        <div class="px-6 pt-4 pb-2">
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Price:
                                $<%= product.price %></span>
                            <!-- Add to Basket Button -->
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
</body>

</html>